<!DOCTYPE html>
<html>
  <head>
    <title>passwordManagementSystem</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body> 
    <nav class="navbar  navbar-inverse" style="    padding: 10px 103px;">
      <div class="container-fluid">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="padding: 15px 63px">PasswodManagementSystem</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="font-size: 19px;">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PasswordCategory<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/addNewCategory">Add new category</a></li>
                <li><a href="/passwordCategory">view all category</a></li>
                
              </ul>
            </li>
           
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PasswordDetails<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/addNewPassword">Add new password</a></li>
                <li><a href="/viewAllPassword">view all password</a></li>
                
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left">
        
            
            <a class="nav-link" href="/" > Logout <span class="sr-only">(current)</span></a>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login As:<% if(loginUser){ %> <%= loginUser %> <% } %></a></li>
            
          </ul>
        </div>
      </div>
    </nav>
    
    <style>
      .info-box {
          display: block;
          min-height: 90px;
          background: #fff;
          width: 100%;
          box-shadow: 0 1px 1px rgba(0,0,0,0.1);
          border-radius: 2px;
          margin-bottom: 15px;
          border: 3px solid #4dc0ef;
      }
      .warning-box{
        display: block;
          min-height: 90px;
          background: #fff;
          width: 100%;
          box-shadow: 0 1px 1px rgba(0,0,0,0.1);
          border-radius: 2px;
          margin-bottom: 15px;
          border: 3px solid #ff9800;
      }
      .bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
          background-color: #00c0ef !important;
          color: #fff !important;
      }
      .bg-warning{background-color: #ff9800 !important;
          color: #fff !important;}
      .info-box-content {
          padding: 5px 10px;
          margin-left: 90px;
      }
      .info-box-icon {
          border-top-left-radius: 2px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 2px;
          display: block;
          float: left;
          height: 87px;
          width: 90px;
          text-align: center;
          font-size: 45px;
          line-height: 90px;
          background: rgba(0,0,0,0.2);
      }
      .info-box-text {
          display: block;
          font-size: 14px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
      .info-box-number {
          display: block;
          font-weight: bold;
          font-size: 18px;
      }
      .fa {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
      }
      </style>
        <div class="container">
              <div class="row">
                  <h1>User Dashboard</h1>
                  <br>
              
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="info-box">
                  <span class="info-box-icon bg-aqua"><i class="fa fa-list-alt"></i></span>
                  <div class="info-box-content">
                      <span class="info-box-text">Total Password Category</span>
                      <span class="info-box-number"><%= totalPassCat %></span>
                  </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="warning-box">
                <span class="info-box-icon bg-warning"><i class="fa fa-key"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Passwords</span>
                    <span class="info-box-number"><%= totalPassword %></span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div>
          </div>
    

                 
  </body>
</html>