<!DOCTYPE html>
<html>
  <head>
    <title>passwordManagementSystem</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body> 
    <nav class="navbar  navbar-inverse" style="    padding: 10px 103px;">
      <div class="container-fluid">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="padding: 15px 63px">PasswodManagementSystem</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="font-size: 19px;">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/dashboard">Home <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PasswordCategory<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/addNewCategory">Add new category</a></li>
                <li><a href="/passwordCategory">view all category</a></li>
                
              </ul>
            </li>
           
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PasswordDetails<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/addNewPassword">Add new password</a></li>
                <li><a href="/viewAllPassword">view all password</a></li>
                
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left">
        
            <!-- <button type="submit" class="btn btn-default "href="" style="font-size: 18px;">Submit</button> -->
            <a class="nav-link" href="/" > Logout <span class="sr-only">(current)</span></a>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login As:<% if(loginUser){ %> <%= loginUser %> <% } %></a></li>
            
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container">
      <div class="row">
          <h1>Password Category Lists</h1>
          <br>
       <table class="table table-striped table-primary">
        <thead>
          <tr>
            <th>Password Category Name</th>
      
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            <% if(records.length >0){
              records.forEach(function(row){ %>
          <tr>
            <td><%= row.password %></td>
           
            <td><a class="btn btn-primary btn-xs" href="/passwordCategory/edit/<%= row.id %>"><i class="fa fa-edit"></i></a>
              <a class="btn btn-danger btn-xs" href="/passwordCategory/delete/<%= row.id %>" onclick="return confirm('Are you sure ?')"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
            <% }) } %>
        </tbody>
      </table>
    </div>
  </div>
   
  </body>
</html>