<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<nav class="navbar container navbar-expand-lg navbar-drak bg-dark">
  <a class="navbar-brand" href="#">Password Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Password Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/addpasswordCategory">Add new category</a>
          <a class="dropdown-item" href="/passwordCategory">View all categry</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Password detailes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Add new Password </a>
          <a class="dropdown-item" href="#">View All Password</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
 
<div class="container">
    <div class="row">
        <h3>Password Category List
                </h3>
        <br>
        <table class="table table-striped table-primary">
            <thead>
                <tr>
                    <th>Password category Name</th>
                     <th>Action</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>godaddy</td>
                <td><a class="btn btn-danger btn-xs" href="/delete/"><i class="fa-solid fa-trash"></i></a>
                <a class="btn btn-info btn-xs" href="/edite/"><i class="fa-solid fa-pen-to-square"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

     
      {{!-- {{#data}}
    <tr>
     
      <td>{{studentname}}</td>
      <td>{{phonenumber}}</td>
      <td>{{emailid}}</td>
      <td>{{gender}}</td>
    </tr>
    {{/data}} --}}
   
    
 
</body>
<script>$(".modal").modal("show")</script>
</html>